/* .dropdown-toggle{
  cursor: pointer;
}

#navbarsExampleDefault{
  font-weight:bold;
} */

.navbar-nav{
  position: absolute;
  right: 0px;
  text-decoration: underline;
  font-weight: bold;
  color:black
}